<app-tip-section >
  <p>content=Click the button more than 5 times...</p>
  <p>Then ...</p>
  <p>Something will happen.</p>
  <button mat-raised-button>I understand</button>
</app-tip-section>

<app-congratulations-message [count]="count" [threshold]="threshold"></app-congratulations-message>

<app-counter-button
  *ngIf="showCounterButton"
  [count]="count"
  (buttonClicked)="incrementCount()">
</app-counter-button>

<button mat-raised-button (click)="toggleCounterButton()">Show/Hide Counter Button</button>
